/* Grid CSS */
.wrapper {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: [col-1] 100px [col-2] 100px [col-3] 100px [col-4];
    grid-template-rows: [row-1] auto [row-2] auto [row-3];

    border: 1px solid #999;
    padding: 10px;
}
.box {
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}
.box:nth-child(1) {
    background-color: #122838;
    grid-column: col-1 / col-3;
    grid-row: row-1 / row-2;
}
.box:nth-child(2) {
    background-color: #183449;
}
.box:nth-child(3) {
    background-color: #204662;
}
.box:nth-child(4) {
    background-color: #2a5b7f;
}
.box:nth-child(5) {
    background-color: #34719e;
}
.box:nth-child(6) {
    background-color: #3e86bb;
}
.box:nth-child(7) {
    background-color: #4698d4;
}
