/* Grid CSS */
.wrapper {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: [col] 100px [col] 100px [col] 100px [col];
    grid-template-rows: [row] auto [row] auto [row];

    border: 1px solid #999;
    padding: 10px;
}
.box {
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}
.box:nth-child(1) {
    background-color: #122838;
    grid-column: col 1 / span 2;
    grid-row: row 1;
}
.box:nth-child(2) {
    background-color: #183449;
    grid-column: col 3 / col 4;
    grid-row: row 1 / span 2;
}
.box:nth-child(3) {
    background-color: #204662;
    grid-column: col 1;
    grid-row: row 2;
}
.box:nth-child(4) {
    background-color: #2a5b7f;
    grid-column: col 2;
    grid-row: row 2 / span 2;
}
.box:nth-child(5) {
    background-color: #34719e;
    grid-column: col 3;
    grid-row: row 3;
}
.box:nth-child(6) {
    background-color: #3e86bb;
    grid-column: col 1;
    grid-row: row 3;
}
.box:nth-child(7) {
    background-color: #4698d4;
}
