/* Grid CSS */
.wrapper {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 120px 120px 120px;
    grid-template-areas:
        '. encabezado encabezado'
        'barra-lateral contenido contenido';

    border: 1px solid #999;
    padding: 10px;
}
.header {
    grid-area: encabezado;       /* Nombre del área */
}
.sidebar {
    grid-area: barra-lateral;    /* Nombre del área */
}
.content {
    grid-area: contenido;        /* Nombre del área */
}
.box {
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}
.box:nth-child(1) {
    background-color: #122838;
}
.box:nth-child(2) {
    background-color: #183449;
}
.box:nth-child(3) {
    background-color: #204662;
}
.box:nth-child(4) {
    background-color: #2a5b7f;
}
.box:nth-child(5) {
    background-color: #34719e;
}
.box:nth-child(6) {
    background-color: #3e86bb;
}
.box:nth-child(7) {
    background-color: #4698d4;
}
